Repository playerony/indexeddb-fs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --cache, prettier-package-json --write

.lintstagedrc:

{
  "*.src/**/*": "prettier --write",
  "*.{js,css,md}": "prettier --write",
  "*.{js,ts}": "npm run lint:fix --cache",
  "package.json": "prettier-package-json --write"
}

refactor: rename all pascal cased files
  lib/types/entry1.type.ts
  lib/types/index.ts
Due: npm run lint:fix --cache

refactor: rename all pascal cased files
  lib/types/entry.type.ts
  lib/types/index.ts
Due: npm run lint:fix --cache

refactor: rename all pascal cased files
  .eslintrc.js
Due: prettier --write, npm run lint:fix --cache

refactor: rename all pascal cased files (#53)
  .eslintrc.js
  lib/types/entry.type.ts
  lib/types/index.ts
  package.json
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

refactor: rename all decorators to instances
  README.md
Due: prettier --write

refactor: rename all decorators to instances
  lib/framework/parts/directory-details-instance/directory-details-instance.types.ts
Due: npm run lint:fix --cache

chore: add useful shell scripts
  package.json
  scripts/git-checkout-develop-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/git-reset-local-changes.sh
  scripts/reinstall-deps.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-local-branches.sh
Due: prettier-package-json --write

chore: add useful shell scripts (#55)
  package.json
  scripts/git-checkout-develop-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/git-reset-local-changes.sh
  scripts/reinstall-deps.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-local-branches.sh
Due: prettier-package-json --write

ci: check all command
  package.json
  yarn.lock
Due: prettier-package-json --write

ci: check all command (#56)
  package.json
  yarn.lock
Due: prettier-package-json --write

v2.1.0
  package.json
Due: prettier-package-json --write

ci: change husky hooks
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier-package-json --write

ci: change husky hooks
  .eslintignore
Due: none

ci: change husky hooks
  .gitignore
Due: none

ci: change husky hooks
  .prettierignore
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.paths.json
Due: prettier-package-json --write

ci: change husky hooks
  .github/workflows/ci-pipeline.yml
Due: none

ci: change husky hooks
  tsconfig.json
Due: none

ci: change husky hooks (#58)
  .eslintignore
  .github/workflows/ci-pipeline.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.paths.json
Due: prettier-package-json --write

v2.1.1
  package.json
Due: prettier-package-json --write

chore: release 2.1.1 (#59)
  package.json
Due: prettier-package-json --write

ci: optimize ci actions
  .github/workflows/ci.yml
Due: none

ci: optimize ci actions (#60)
  .github/workflows/ci.yml
Due: none

chore: bump yarn to 3
  .gitignore
  .yarn/install-state.gz
Due: none

chore: bump yarn to 3 (#61)
  .editorconfig
  .gitattributes
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

2.1.5
  package.json
Due: prettier-package-json --write

chore: release 2.1.5 (#62)
  package.json
Due: prettier-package-json --write
