Repository playerony/indexeddb-fs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, prettier-package-json --write

.lintstagedrc:

{
  "*.src/**/*": "prettier --write",
  "*.{js,css,md}": "prettier --write",
  "*.{js,ts}": "eslint --cache --fix",
  "package.json": "prettier-package-json --write"
}

remove rules from eslitn configuration
  .eslintrc
Due: none

define keywords
  package.json
Due: prettier-package-json --write

🔧 Setup project environment (#1)
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --cache --fix, prettier-package-json --write

should pass
  .eslintignore
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  src/first.test.ts
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

more specified jest config
  .eslintrc
  .lintstagedrc
  jest.config.js
Due: prettier --write, eslint --cache --fix

ci pipeline
  .github/workflows/ci-pipeline.yml
  package.json
Due: prettier-package-json --write

ignore test files in build process
  tsconfig.json
Due: none

fix lint
  .eslintrc
  package.json
  src/index.ts
  tsconfig.base.json
  tsconfig.build.json
Due: eslint --cache --fix, prettier-package-json --write

add check command
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

🔧 Configure jest with CI pipeline (#2)
  .eslintignore
  .eslintrc
  .github/workflows/ci-pipeline.yml
  .lintstagedrc
  jest.config.js
  package-lock.json
  package.json
  src/first.test.ts
  src/index.ts
  tsconfig.base.json
  tsconfig.build.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

Rename src directory to lib
  .lintstagedrc
  jest.config.js
  lib/first.test.ts
  lib/index.ts
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

🚚 Rename src directory to lib (#3)
  .lintstagedrc
  jest.config.js
  lib/first.test.ts
  lib/index.ts
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

Make build with rollup.js
  .eslintrc
  .gitignore
  lib/index.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-indexeddb-browser-support/is-indexeddb-browser-support.function.ts
  lib/utils/index.ts
  package-lock.json
  package.json
  rollup.config.js
  scripts/reinstall-deps.sh
  tsconfig.base.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

update eslintignore
  .eslintignore
  package.json
Due: prettier-package-json --write

🏗️ Make build with rollup.js (#4)
  .eslintignore
  .eslintrc
  .gitignore
  lib/index.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-indexeddb-browser-support/is-indexeddb-browser-support.function.ts
  lib/utils/index.ts
  package-lock.json
  package.json
  rollup.config.js
  scripts/reinstall-deps.sh
  tsconfig.base.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

chore: configure commitlint
  .eslintignore
  .husky/commit-msg
  commitlint.config.js
  lib/index.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-indexeddb-browser-support/is-indexeddb-browser-support.function.ts
  lib/utils/index.ts
  lib/utils/is-indexeddb-support.function.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

🔧 chore: configure commitlint (#5)
  .eslintignore
  .husky/commit-msg
  commitlint.config.js
  lib/index.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-indexeddb-browser-support/is-indexeddb-browser-support.function.ts
  lib/utils/index.ts
  lib/utils/is-indexeddb-support.function.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

feat: create indexeddb connection
  .eslintrc
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/test.test.ts
  lib/types/Entry.type.ts
  lib/types/index.ts
  lib/utils/index.ts
  lib/utils/initialize-database.function.ts
  lib/utils/open-indexeddb-connection.function.ts
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

fix: full names
  lib/createFS.function.ts
Due: eslint --cache --fix

fix: path dep
  package-lock.json
  package.json
Due: prettier-package-json --write

✨ feat: create indexedDB connection (#6)
  .eslintrc
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/test.test.ts
  lib/types/Entry.type.ts
  lib/types/index.ts
  lib/utils/index.ts
  lib/utils/initialize-database.function.ts
  lib/utils/open-indexeddb-connection.function.ts
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

feat: add functions for files CRUD
  .eslintrc
  lib/createFS.function.ts
  lib/index.ts
  lib/types/Entry.type.ts
  lib/utils/index.ts
  lib/utils/with-trailing-slash.function.ts
Due: eslint --cache --fix

fix: naming
  lib/createFS.function.ts
  lib/index.ts
Due: eslint --cache --fix

fix: x
  lib/createFS.function.ts
Due: eslint --cache --fix

✨ feat: add crud for files (#7)
  .eslintrc
  lib/createFS.function.ts
  lib/index.ts
  lib/types/Entry.type.ts
  lib/utils/index.ts
  lib/utils/with-trailing-slash.function.ts
Due: eslint --cache --fix

feat: create and read functions for directory
  .eslintrc
  lib/constants.ts
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/types/Entry.type.ts
  lib/utils/initialize-database.function.ts
Due: eslint --cache --fix

✨ feat: create and read functions for directory management (#8)
  .eslintrc
  lib/constants.ts
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/types/Entry.type.ts
  lib/utils/initialize-database.function.ts
Due: eslint --cache --fix

feat: make root directory as a file structure root
  .eslintrc
  jest.config.js
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/test.test.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/index.ts
  lib/utils/functions/initialize-database.function.ts
  lib/utils/functions/is-function/is-function.function.ts
  lib/utils/functions/is-function/is-function.spec.ts
  lib/utils/functions/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/utils/functions/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/utils/functions/is-string/is-string.function.ts
  lib/utils/functions/is-string/is-string.spec.ts
  lib/utils/functions/is-valid-path/is-valid-path.function.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/open-indexeddb-connection.function.ts
  lib/utils/index.ts
  lib/utils/is-indexeddb-support.function.ts
  lib/utils/jest/function-import-test.function.ts
  lib/utils/jest/index.ts
  lib/utils/with-trailing-slash.function.ts
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.paths.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

fix: import
  lib/createFS.function.ts
Due: eslint --cache --fix

fix: paths
  .eslintrc
  lib/createFS.function.ts
Due: eslint --cache --fix

✨ feat: make root directory as a file structure root (#9)
  .eslintrc
  jest.config.js
  lib/createFS.function.ts
  lib/createFS.types.ts
  lib/index.ts
  lib/test.test.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/index.ts
  lib/utils/functions/initialize-database.function.ts
  lib/utils/functions/is-function/is-function.function.ts
  lib/utils/functions/is-function/is-function.spec.ts
  lib/utils/functions/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/utils/functions/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/utils/functions/is-string/is-string.function.ts
  lib/utils/functions/is-string/is-string.spec.ts
  lib/utils/functions/is-valid-path/is-valid-path.function.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/open-indexeddb-connection.function.ts
  lib/utils/index.ts
  lib/utils/is-indexeddb-support.function.ts
  lib/utils/jest/function-import-test.function.ts
  lib/utils/jest/index.ts
  lib/utils/with-trailing-slash.function.ts
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.paths.json
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

test: cover path format and validation with tests
  lib/createFS.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.function.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-stash/starts-with-slash.function.ts
  lib/utils/functions/starts-with-stash/starts-with-slash.spec.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.spec.ts
Due: eslint --cache --fix

✅ test: cover path format and validation with tests (#10)
  lib/createFS.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.function.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-stash/starts-with-slash.function.ts
  lib/utils/functions/starts-with-stash/starts-with-slash.spec.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.spec.ts
Due: eslint --cache --fix

chore: move indexeddb utils to separate directory
  lib/utils/functions/index.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.function.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/index.ts
  lib/utils/indexeddb/index.ts
  lib/utils/indexeddb/initialize-database.function.ts
  lib/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/utils/indexeddb/open-indexeddb-connection.function.ts
Due: eslint --cache --fix

🎨 chore: move indexeddb utils to separate directory (#11)
  lib/utils/functions/index.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.function.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/index.ts
  lib/utils/indexeddb/index.ts
  lib/utils/indexeddb/initialize-database.function.ts
  lib/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/utils/indexeddb/open-indexeddb-connection.function.ts
Due: eslint --cache --fix

test: add tests for indexeddb utils
  lib/createFS.function.ts
  lib/utils/indexeddb/index.ts
  lib/utils/indexeddb/initialize-database/initialize-database.function.ts
  lib/utils/indexeddb/initialize-database/initialize-database.spec.ts
  lib/utils/indexeddb/initialize-database/initialize-database.types.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.spec.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.types.ts
  lib/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  package.json
Due: eslint --cache --fix, prettier-package-json --write

✅ test: add tests for indexeddb utils (#12)
  lib/createFS.function.ts
  lib/utils/indexeddb/index.ts
  lib/utils/indexeddb/initialize-database/initialize-database.function.ts
  lib/utils/indexeddb/initialize-database/initialize-database.spec.ts
  lib/utils/indexeddb/initialize-database/initialize-database.types.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.spec.ts
  lib/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.types.ts
  lib/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  package.json
Due: eslint --cache --fix, prettier-package-json --write

refactor: create core directory
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/index.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/core/utils/functions/has-root-directory-prefix/has-root-directory-prefix.function.ts
  lib/core/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/core/utils/functions/index.ts
  lib/core/utils/functions/is-valid-path/is-valid-path.function.ts
  lib/core/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/core/utils/functions/starts-with-slash/starts-with-slash.function.ts
  lib/core/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/core/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  lib/core/utils/functions/with-root-directory-prefix/with-root-directory-prefix.spec.ts
  lib/core/utils/index.ts
  lib/core/utils/indexeddb/index.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.function.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.spec.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.types.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.spec.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.types.ts
  lib/core/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/core/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/core/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/core/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  lib/index.ts
  lib/utils/functions/index.ts
  tsconfig.paths.json
Due: eslint --cache --fix

🎨 refactor: create core directory (#13)
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/index.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/core/utils/functions/has-root-directory-prefix/has-root-directory-prefix.function.ts
  lib/core/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/core/utils/functions/index.ts
  lib/core/utils/functions/is-valid-path/is-valid-path.function.ts
  lib/core/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/core/utils/functions/starts-with-slash/starts-with-slash.function.ts
  lib/core/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/core/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  lib/core/utils/functions/with-root-directory-prefix/with-root-directory-prefix.spec.ts
  lib/core/utils/index.ts
  lib/core/utils/indexeddb/index.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.function.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.spec.ts
  lib/core/utils/indexeddb/initialize-database/initialize-database.types.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.spec.ts
  lib/core/utils/indexeddb/initialize-object-store-decorator/initialize-object-store-decorator.types.ts
  lib/core/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/core/utils/indexeddb/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/core/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/core/utils/indexeddb/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  lib/index.ts
  lib/utils/functions/index.ts
  tsconfig.paths.json
Due: eslint --cache --fix

feat: add validation for entry data
  .gitignore
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/index.ts
  lib/core/utils/functions/index.ts
  lib/core/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.schema.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/index.ts
  lib/utils/jest/index.ts
  lib/utils/jest/to-match-snapshot.function.ts
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --cache --fix, prettier-package-json --write
