Repository playerony/indexeddb-fs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --cache, prettier-package-json --write

.lintstagedrc:

{
  "*.src/**/*": "prettier --write",
  "*.{js,css,md}": "prettier --write",
  "*.{js,ts}": "npm run lint:fix --cache",
  "package.json": "prettier-package-json --write"
}

chore: remove eslint rule
  .eslintrc
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

🔧 chore: remove eslint rule (#32)
  .eslintrc
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

feat: create move file function
  lib/framework/create-fs/create-fs.function.ts
  lib/framework/create-fs/create-fs.types.ts
  lib/framework/create-fs/parts/index.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.function.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.spec.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.types.ts
Due: npm run lint:fix --cache

✨ feat: create move file function (#33)
  lib/framework/create-fs/create-fs.function.ts
  lib/framework/create-fs/create-fs.types.ts
  lib/framework/create-fs/parts/index.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.function.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.spec.ts
  lib/framework/create-fs/parts/move-file-decorator/move-file-decorator.types.ts
Due: npm run lint:fix --cache

docs: more details about file actions
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

📝 docs: more details about file actions (#34)
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

docs: add more informations about directories
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

📝 docs: add more informations about directories (#35)
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

test: add tests for database layer
  lib/database/delete-record-decorator/delete-record-decorator.spec.ts
  lib/database/get-database-crud/get-database-crud.spec.ts
  lib/database/get-record-decorator/get-record-decorator.spec.ts
  lib/database/initialize-database/initialize-database.function.ts
  lib/database/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/database/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/database/open-cursor-decorator/open-cursor-decorator.spec.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  lib/database/put-record-decorator/put-record-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

fix: cleanup
  lib/database/delete-record-decorator/delete-record-decorator.spec.ts
  lib/database/get-database-crud/get-database-crud.spec.ts
  lib/database/open-cursor-decorator/open-cursor-decorator.spec.ts
Due: npm run lint:fix --cache

✅ test: add tests for database layer (#37)
  lib/database/delete-record-decorator/delete-record-decorator.spec.ts
  lib/database/get-database-crud/get-database-crud.spec.ts
  lib/database/get-record-decorator/get-record-decorator.spec.ts
  lib/database/initialize-database/initialize-database.function.ts
  lib/database/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/database/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/database/open-cursor-decorator/open-cursor-decorator.spec.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  lib/database/put-record-decorator/put-record-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

test: improve test coverage in framework layer
  README.md
  lib/framework/__snapshots__/create-fs.spec.ts.snap
  lib/framework/create-fs.spec.ts
  lib/framework/parts/copy-file-decorator/copy-file-decorator.spec.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.spec.ts
  lib/framework/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/utils/jest/function-import-test/function-import-test.function.ts
  lib/utils/jest/function-import-test/function-import-test.spec.ts
  lib/utils/jest/index.ts
  lib/utils/jest/to-match-snapshot/__snapshots__/to-match-snapshot.spec.ts.snap
  lib/utils/jest/to-match-snapshot/to-match-snapshot.function.ts
  lib/utils/jest/to-match-snapshot/to-match-snapshot.spec.ts
  package.json
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

✅ test: improve test coverage in framework layer (#38)
  README.md
  lib/framework/__snapshots__/create-fs.spec.ts.snap
  lib/framework/create-fs.spec.ts
  lib/framework/parts/copy-file-decorator/copy-file-decorator.spec.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.spec.ts
  lib/framework/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/utils/jest/function-import-test/function-import-test.function.ts
  lib/utils/jest/function-import-test/function-import-test.spec.ts
  lib/utils/jest/index.ts
  lib/utils/jest/to-match-snapshot/__snapshots__/to-match-snapshot.spec.ts.snap
  lib/utils/jest/to-match-snapshot/to-match-snapshot.function.ts
  lib/utils/jest/to-match-snapshot/to-match-snapshot.spec.ts
  package.json
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

feat: create get directory name helper
  README.md
  lib/framework/create-fs.function.ts
  lib/framework/create-fs.spec.ts
  lib/framework/parts/copy-file-decorator/copy-file-decorator.function.ts
  lib/framework/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/framework/parts/move-file-decorator/move-file-decorator.function.ts
  lib/framework/parts/rename-file-decorator/rename-file-decorator.function.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/framework/parts/write-file-decorator/write-file-decorator.function.ts
  lib/utils/functions/get-directory-name/get-directory-name.function.ts
  lib/utils/functions/get-directory-name/get-directory-name.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.spec.ts
  lib/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

✨ feat: create get directory name helper (#39)
  README.md
  lib/framework/create-fs.function.ts
  lib/framework/create-fs.spec.ts
  lib/framework/parts/copy-file-decorator/copy-file-decorator.function.ts
  lib/framework/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/framework/parts/move-file-decorator/move-file-decorator.function.ts
  lib/framework/parts/rename-file-decorator/rename-file-decorator.function.ts
  lib/framework/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/framework/parts/write-file-decorator/write-file-decorator.function.ts
  lib/utils/functions/get-directory-name/get-directory-name.function.ts
  lib/utils/functions/get-directory-name/get-directory-name.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.spec.ts
  lib/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/utils/functions/with-root-directory-prefix/with-root-directory-prefix.function.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

docs: update examples for common functions
  .github/workflows/ci-pipeline.yml
  README.md
Due: prettier --write

docs: update examples for common functions (#46)
  .github/workflows/ci-pipeline.yml
  README.md
Due: prettier --write

ci: update pipeline
  .github/workflows/ci-pipeline.yml
  .nvmrc
  package.json
Due: prettier-package-json --write

ci: update pipeline
  .github/workflows/ci-pipeline.yml
Due: none

ci: update pipeline
  package.json
Due: prettier-package-json --write

ci: update pipeline (#47)
  .github/workflows/ci-pipeline.yml
  .nvmrc
  package.json
Due: prettier-package-json --write

docs: update file functions
  README.md
Due: prettier --write

docs: update file functions (#48)
  README.md
Due: prettier --write

docs: update directory functions
  LICENSE
  README.md
Due: prettier --write

docs: update directory functions (#49)
  LICENSE
  README.md
Due: prettier --write

docs: update core directory structure
  README.md
Due: prettier --write

docs: update core directory structure (#50)
  README.md
Due: prettier --write

v2.0.0
  package.json
Due: prettier-package-json --write

docs: update library imports for new typescript
  README.md
Due: prettier --write

docs: update library imports for new typescript (#51)
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

v2.0.1
  package.json
Due: prettier-package-json --write

feat: user would like to see a regexp pattern when full path is invalid
  lib/constants.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/utils/functions/is-valid-path/is-valid-path.function.ts
Due: npm run lint:fix --cache

feat: user would like to see a regexp pattern when full path is invalid
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/utils/jest/function-import-test/function-import-test.spec.ts
  lib/utils/jest/to-match-snapshot/to-match-snapshot.spec.ts
Due: npm run lint:fix --cache

feat: user would like to see a regexp pattern when full path check throw error (#52)
  lib/constants.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/utils/functions/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/utils/functions/is-valid-path/is-valid-path.function.ts
  lib/utils/functions/is-valid-path/is-valid-path.spec.ts
  lib/utils/functions/starts-with-slash/starts-with-slash.spec.ts
  lib/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/utils/jest/function-import-test/function-import-test.spec.ts
  lib/utils/jest/to-match-snapshot/to-match-snapshot.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

v2.0.2
  package.json
Due: prettier-package-json --write
