Repository playerony/indexeddb-fs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --cache, prettier-package-json --write

✨ feat: add validation for entry data (#14)
  .gitignore
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/index.ts
  lib/core/utils/functions/index.ts
  lib/core/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.schema.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/index.ts
  lib/utils/jest/index.ts
  lib/utils/jest/to-match-snapshot.function.ts
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

fix: fix bug with not working exists function
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.types.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.types.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/index.ts
Due: npm run lint:fix --cache

🐛 fix: fix bug with not working exists function (#15)
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.types.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.types.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/index.ts
Due: npm run lint:fix --cache

test: add tests for all core functions
  .eslintrc
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.types.ts
  lib/index.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

✅ test: add tests for all core functions (#16)
  .eslintrc
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.types.ts
  lib/index.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

chore: add helper function to check entry type
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.types.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.types.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/types/Entry.type.ts
Due: npm run lint:fix --cache

✨ chore: add helper functions to check entry type (#17)
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.types.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.types.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/types/Entry.type.ts
Due: npm run lint:fix --cache

fix: fix build warnings and add tests
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/index.ts
Due: npm run lint:fix --cache

fix: remove ts-check
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
Due: npm run lint:fix --cache

💚 fix: fix build warnings and add tests (#18)
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.types.ts
  lib/index.ts
Due: npm run lint:fix --cache

build: resolve rollup type aliases
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

🏗️ build: resolve rollup type aliases (#19)
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

chore: create root directory if does not exist
  .eslintrc
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.schema.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/index.ts
  package-lock.json
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

fix: one more param
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
Due: npm run lint:fix --cache

✨ chore: create root directory if does not exist (#20)
  .eslintrc
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/core/utils/functions/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/functions/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.schema.ts
  lib/core/utils/functions/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/index.ts
  package-lock.json
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

feat: root directory cannot be removed
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/types/Entry.type.ts
Due: npm run lint:fix --cache

✨ feat: root directory cannot be removed (#21)
  lib/core/create-fs/create-fs.defaults.ts
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/types/Entry.type.ts
Due: npm run lint:fix --cache

test: add tests for core
  .eslintrc
  lib/core/create-fs/__snapshots__/create-fs.spec.ts.snap
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.spec.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

✅ test: add tests for core (#22)
  .eslintrc
  lib/core/create-fs/__snapshots__/create-fs.spec.ts.snap
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.spec.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.function.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.types.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

chore: update readme
  README.md
  lib/core/create-fs/create-fs.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
Due: prettier --write, npm run lint:fix --cache

📝 chore: update readme (#23)
  README.md
  lib/core/create-fs/create-fs.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.function.ts
Due: prettier --write, npm run lint:fix --cache

fix: esmodule syntax
  lib/index.ts
Due: npm run lint:fix --cache

fix: fix
  rollup.config.js
Due: prettier --write, npm run lint:fix --cache

fix: bump version
  package.json
Due: prettier-package-json --write

💚 fix: es-module syntax (#24)
  lib/index.ts
  package.json
  rollup.config.js
Due: prettier --write, npm run lint:fix --cache, prettier-package-json --write

docs: add short description about each command
  README.md
Due: prettier --write

📝 docs: add short description about each command (#25)
  README.md
Due: prettier --write

chore: add details api functions
  README.md
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.function.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.spec.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.types.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.function.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.spec.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.function.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.function.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.spec.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.types.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.types.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.function.ts
Due: prettier --write, npm run lint:fix --cache

✨ chore: add details api functions (#26)
  README.md
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.types.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.function.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.spec.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.types.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.function.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.spec.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.types.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.function.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.function.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.spec.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.types.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.function.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.types.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  lib/utils/functions/index.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.function.ts
Due: prettier --write, npm run lint:fix --cache

test: try-catch-wrapper function tests
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.function.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

✅ test: try-catch-wrapper function tests (#27)
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.function.ts
  lib/utils/functions/try-catch-wrapper/try-catch-wrapper.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

feat: create copy file function
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.function.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.spec.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.spec.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.spec.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

✨ feat: create copy file function (#28)
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.function.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.spec.ts
  lib/core/create-fs/parts/copy-file-decorator/copy-file-decorator.types.ts
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.spec.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/details-decorator/details-decorator.spec.ts
  lib/core/create-fs/parts/directory-details-decorator/directory-details-decorator.spec.ts
  lib/core/create-fs/parts/exists-decorator/exists-decorator.spec.ts
  lib/core/create-fs/parts/file-details-decorator/file-details-decorator.spec.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/is-directory-decorator/is-directory-decorator.spec.ts
  lib/core/create-fs/parts/is-file-decorator/is-file-decorator.spec.ts
  lib/core/create-fs/parts/read-directory-decorator/read-directory-decorator.spec.ts
  lib/core/create-fs/parts/read-file-decorator/read-file-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.spec.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.function.ts
  lib/core/create-fs/parts/remove-directory-decorator/remove-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.spec.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.spec.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

feat: create rename file function
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/create-fs.types.ts
  lib/core/create-fs/parts/index.ts
  lib/core/create-fs/parts/rename-file-decorator/rename-file-decorator.function.ts
  lib/core/create-fs/parts/rename-file-decorator/rename-file-decorator.spec.ts
  lib/core/create-fs/parts/rename-file-decorator/rename-file-decorator.types.ts
  lib/core/create-fs/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/core/create-fs/parts/update-file-details-decorator/update-file-details-decorator.types.ts
Due: npm run lint:fix --cache

fix: remove parameter
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/rename-file-decorator/rename-file-decorator.types.ts
Due: npm run lint:fix --cache

fix: directories
  lib/core/create-fs/create-fs.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.spec.ts
  lib/core/create-fs/parts/remove-decorator/remove-decorator.function.ts
  lib/core/create-fs/parts/remove-file-decorator/remove-file-decorator.function.ts
  lib/core/utils/format-and-validate-full-path/format-and-validate-full-path.function.ts
  lib/core/utils/format-and-validate-full-path/format-and-validate-full-path.spec.ts
  lib/core/utils/functions/index.ts
  lib/core/utils/has-root-directory-prefix/has-root-directory-prefix.function.ts
  lib/core/utils/has-root-directory-prefix/has-root-directory-prefix.spec.ts
  lib/core/utils/index.ts
  lib/core/utils/is-valid-path/is-valid-path.function.ts
  lib/core/utils/is-valid-path/is-valid-path.spec.ts
  lib/core/utils/starts-with-slash/starts-with-slash.function.ts
  lib/core/utils/starts-with-slash/starts-with-slash.spec.ts
  lib/core/utils/validate-create-fs-props/__snapshots__/validate-create-fs-props.spec.ts.snap
  lib/core/utils/validate-create-fs-props/validate-create-fs-props.function.ts
  lib/core/utils/validate-create-fs-props/validate-create-fs-props.schema.ts
  lib/core/utils/validate-create-fs-props/validate-create-fs-props.spec.ts
  lib/core/utils/with-root-directory-prefix/with-root-directory-prefix.function.ts
  lib/core/utils/with-root-directory-prefix/with-root-directory-prefix.spec.ts
  lib/database/delete-by-key-decorator/delete-by-key-decorator.function.ts
  lib/database/delete-by-key-decorator/delete-by-key-decorator.types.ts
  lib/database/index.ts
  lib/database/initialize-database/initialize-database.function.ts
  lib/database/initialize-database/initialize-database.spec.ts
  lib/database/initialize-database/initialize-database.types.ts
  lib/database/initialize-object-store-decorator/initialize-object-store-decorator.function.ts
  lib/database/initialize-object-store-decorator/initialize-object-store-decorator.spec.ts
  lib/database/initialize-object-store-decorator/initialize-object-store-decorator.types.ts
  lib/database/is-indexeddb-support/is-indexeddb-support.function.ts
  lib/database/is-indexeddb-support/is-indexeddb-support.spec.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.function.ts
  lib/database/open-indexeddb-connection/open-indexeddb-connection.spec.ts
  tsconfig.paths.json
Due: npm run lint:fix --cache

chore: move database utils to separate folder
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/database/index.ts
  lib/database/put-decorator/put-decorator.function.ts
  lib/database/put-decorator/put-decorator.types.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

♻️ chore: move database utils to separate folder (#30)
  lib/core/create-fs/parts/create-directory-decorator/create-directory-decorator.function.ts
  lib/core/create-fs/parts/create-root-directory-decorator/create-root-directory-decorator.function.ts
  lib/core/create-fs/parts/update-file-details-decorator/update-file-details-decorator.function.ts
  lib/core/create-fs/parts/write-file-decorator/write-file-decorator.function.ts
  lib/database/index.ts
  lib/database/put-decorator/put-decorator.function.ts
  lib/database/put-decorator/put-decorator.types.ts
  package.json
Due: npm run lint:fix --cache, prettier-package-json --write

Path conditions:
  prettier --write: (any of: *.src/**/*) or (any of: *.{js,css,md})
  npm run lint:fix --cache: any of: *.{js,ts}
  prettier-package-json --write: any of: package.json
